<link rel="stylesheet" href="styles.css" />
<div id="exercise">
 <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
 <div>
  <p>Task 1</p>
  <button v-on:click="start = !start">Start Effect</button>
  <div id="effect" :class="{highlight: flip, shrink: !flip}"></div>
 </div>
 <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
 <div>
  <p>Task 2</p>
  <div :class="[greenClass, skewClass]">I got no class :(</div>
 </div>
 <!-- 3) Let the user enter a class (create some example classes) and attach it -->
 <div>
  <p>Task 3</p>
  <input :class="t3Class" type="text" placeholder="enter 'red' or 'yellow'" v-model="t3Input" />
  <div></div>
 </div>
 <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
 <div>
  <p>Task 4</p>
  <input :class="t4aClass" type="text" placeholder="enter red or yellow" v-model="t4aInput" />
  <input
   :class="{orange: isOrange}"
   type="text"
   placeholder="enter true or false"
   v-model="t4bInput"
  />
  <div></div>
 </div>
 <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
 <div>
  <p>Task 5</p>
  <input
   type="text"
   placeholder="enter a color e.g #bada55 or green"
   :style="{backgroundColor: task5Input}"
   v-model="task5Input"
  />
  <div></div>
 </div>
 <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
 <div>
  <p>Task 6</p>
  <button @click="startProgress">Start Progress</button>
  <div :style="styleObject" class="progress">Progress</div>
 </div>
</div>
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="./app.js?"></script>
