<!DOCTYPE html>
<html>
	<head>
		<title>Monster Slayer</title>
		<script src="https://npmcdn.com/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="css/foundation.min.css" />
		<link rel="stylesheet" href="css/app.css" />
	</head>
	<body>
		<div id="app">
			<section class="row">
				<div class="small-6 columns">
					<h1 class="text-center">YOU</h1>
					<div class="healthbar">
						<div
							class="healthbar text-center"
							:style="{width :playerScore + '%'}"
							style="background-color: green; margin: 0; color: white;"
						>
							{{ playerScore }}
						</div>
					</div>
				</div>
				<div class="small-6 columns">
					<h1 class="text-center">MONSTER</h1>
					<div class="healthbar">
						<div
							class="healthbar text-center"
							:style="{width :monsterScore + '%'}"
							style="background-color: green; margin: 0; color: white;"
						>
							{{ monsterScore }}
						</div>
					</div>
				</div>
			</section>
			<section class="row controls" v-if="!gameStarted">
				<div class="small-12 columns">
					<button id="start-game" @click="gameStarted = !gameStarted">START NEW GAME</button>
				</div>
			</section>
			<section class="row controls" v-else>
				<div class="small-12 columns">
					<button id="attack" @click="attack">ATTACK</button>
					<button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
					<button id="heal" @click="heal">HEAL</button>
					<button id="give-up" @click="resetGame">GIVE UP</button>
				</div>
			</section>
			<section class="row log">
				<div class="small-12 columns">
					<ul>
						<li
							v-for="(log, index) in logs"
							:key="index"
							v-bind:class="[log.isPlayer ? 'monster-turn' : 'player-turn']"
						>
							{{ log.message }}
						</li>
					</ul>
				</div>
			</section>
			<!-- The Modal -->
			<div id="myModal" class="modal" :style="{display: modal.display}">
				<!-- The Close Button -->
				<span class="close" @click="modal.display='none'">&times;</span>
				<!-- Modal Content (The Image) -->
				<img class="modal-content" id="img01" :src="modal.imgHref"/>
				<!-- Modal Caption (Image Text) -->
				<div id="caption">{{modal.winner}} Won!</div>
			</div>
		</div>
		<script src="index.js"></script>
	</body>
</html>
